<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>retro WAVE</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <script src="js/vue.js"></script>
  <header>
    <div class="logo">
      <!-- место для img лого -->
    </div>
  </header>
  <div id="app">
    <div id="right-side" v-bind:class="{right_side_move_left: albumReviewIsOpened}">
      <div id="albums">
        <div id="albums-container">
          <div class="albums-name">
            <span>New albums</span>
            <span v-on:click="new_album_item_toggle = !new_album_item_toggle" class="albums-name-more">more...</span>
          </div>
          <div class="albums-grid">
            <div v-for="music in new_album_musics" v-bind:class="{album_item_toggle : new_album_item_toggle}" class="album-item">
              <div v-on:click="albumReviewIsOpened = true; albumReview_img = music.album_img; albumReview_album_name = music.album_name; albumReview_artist_name = music.album_artist_name; albumReview_songs = music.album_songs" class="album-item-img">
                <img :src="music.album_img" alt="">
              </div>
              <div class="album-item-name">
                <span>{{music.album_name}}</span>
              </div>
              <div class="album-item-artist">
                <span>{{music.album_artist_name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="playeer" v-if="isShowPlayeerContainer" v-bind:class="{ playeer_opened: playeerIsOpened }">
      <div class="playeer-container">
        <div v-on:click="openClosePlayeer" class="playeer-img">
          <img :src="playeed_img" alt="">
        </div>
        <div v-on:click="openClosePlayeer" class="playeer-names">
          <div class="playeer-names-name">
            <span>{{playeed_name}}</span>
          </div>
          <div class="playeer-names-artist">
            <span>{{playeed_artist}}</span>
          </div>
        </div>
        <div v-on:click="playSong" id="playeer-play" class="playeer-play">
        </div>
        <div v-bind:style="{ width: controlsLength + '%'}" id="playeer-length"></div>
      </div>
      <div v-on:mousemove="doMove" v-on:mouseup="endMove" class="playeer-inside" id="playeer_inside">
        <div class="playeer-inside-container">
          <div class="playeer-inside-header">
            <div v-on:click="openClosePlayeer" id="playeer-inside-header-close"></div>
          </div>
          <div class="playeer-inside-img">
            <img :src="playeed_img" alt="">
          </div>
          <div class="playeer-inside-controls">
            <div class="playeer-inside-controls-length">
              <div v-on:mousedown="startJumpMove" v-on:mousemove="doJumpMove" class="playeer-inside-controls-length-tracks" id="playeer-inside-controls-length-tracks">
                <div v-bind:style="{ width: controlsLength + '%'}" id="playeer-inside-controls-length-tracks-move">
                  <div v-on:mousedown="startMove" v-bind:class="{dot_active : trackMove}" class="playeer-inside-controls-length-tracks-move-dot" id="playeer_dot"></div>
                </div>
                <div class="playeer-inside-controls-length-tracks-times">
                  <span>{{trackTimeNow}}</span>
                  <span>{{trackTimeEnd}}</span>
                </div>
              </div>
            </div>
            <div class="playeer-inside-controls-names">
              <div class="playeer-inside-controls-names-name">
                <span>{{playeed_name}}</span>
              </div>
              <div class="playeer-inside-controls-names-artist">
                <span>{{playeed_artist}}</span>
              </div>
            </div>
            <div class="playeer-inside-controls-buttons">
              <div v-on:click="playeed_repeat = !playeed_repeat" id="playeer-inside-controls-buttons-repeats"></div>
              <div v-on:click="preSong" id="playeer-inside-controls-buttons-pre"></div>
              <div v-on:click="playSong" id="playeer-inside-controls-buttons-play"></div>
              <div v-on:click="nextSong" id="playeer-inside-controls-buttons-next"></div>
              <div v-on:click="playeed_shuffle = !playeed_shuffle" id="playeer-inside-controls-buttons-shuffle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="album_review" v-bind:class="{ album_review_opened: albumReviewIsOpened && !playeerIsOpened }">
      <div class="album_review-header">
        <div v-on:click="albumReviewIsOpened = !albumReviewIsOpened" class="album_review-header-back"></div>
        <div class="album_review-header-name">
          <span>Альбом</span>
        </div>
        <div class="album_review-header-dots"></div>
      </div>
      <div class="album_review-info">
        <div class="album_review-info-img">
          <img :src="albumReview_img" alt="">
        </div>
        <div class="album_review-info-names">
          <div class="album_review-info-names-name">
            <span>{{albumReview_album_name}}</span>
          </div>
          <div class="album_review-info-names-artist">
            <span>{{albumReview_artist_name}}</span>
          </div>
        </div>
      </div>
      <div class="album_review-songs">
        <div v-bind:class="{album_review_song_active : song.id == playeed_id}" class="album_review-song" v-for="song in albumReview_songs">
          <div class="album_review-song-position">
            <span>{{song.id}}</span>
          </div>
          <div class="album_review-song-name" v-on:click="change_music(song.song_url,song.song_name,albumReview_artist_name,song.id,albumReview_img)">
            <span>{{song.song_name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/script.js"></script>
</body>
</html>
