<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div>
  <div class="color-picker">
    <div @click="opened = !opened" v-bind:style="{'background-color' : colors}" class="color-picker-btn"></div>
      <div v-if="opened" class="color-picker-window">
        <div class="color-picker-colors">
          <div v-for="mainColor in mainColors" @click="change_color(mainColor)" v-bind:class="{'color-picker-window-color-active' : activeColor == mainColor}" v-bind:style="{'background-color' : mainColor}" class="color-picker-window-color"></div>
        </div>

      </div>
      <input type="text" v-model="colors">
  </div>
  <span>{{colors}}</span>
  </div>
</body>
</html>
