*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
  font-family: "Roboto", sans-serif;
}
#loader
{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ddd;
  width: 100%;
  height: 100vh;
  z-index: 999;
  transition: opacity .4s;
}
.is_load
{
  opacity: 0;
  z-index: 0 !important;
}
.loader-animation
{
  animation: blind 0.8s infinite;
  -webkit-animation: blind 0.8s infinite;
  -moz-animation: blind 0.8s infinite;
  -o-animation: blind 0.8s infinite;
}
@keyframes blind {
  0%{background-color: #fff} 50%{background-color: #f9f9f9} 100%{background-color: #fff}
}
@-webkit-keyframes blind {
  0%{background-color: #fff} 50%{background-color: #f9f9f9} 100%{background-color: #fff}
}
@-moz-keyframes blind {
  0%{background-color: #fff} 50%{background-color: #f9f9f9} 100%{background-color: #fff}
}
@-o-keyframes blind {
  0%{background-color: #fff} 50%{background-color: #f9f9f9} 100%{background-color: #fff}
}
#header
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fff;
}
.header-logo
{
  font-weight: 700;
  color: #15e67f;
  font-size: 24px;
}


#main
{
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: #ddd;
}
.unselectable
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-container
{
  max-width: 1440px;
  margin: 0 auto;
}
.main-container-row
{
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
}
.row-side:nth-child(2)
{
  flex: 1 400px;
  margin: 15px;
}
.row-side
{
  flex: 1 200px;
  margin: 15px;
}
.row-side
{
  flex: 1 200px;
  margin: 15px;
}
.controls-place
{
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
}
.controls-place-name span
{
  color: #202020;
  font-weight: 900;
  font-size: 18px;
}
.setting-item
{
  margin: 10px 0;
}
.setting-item-name
{
margin-bottom: 5px
}
.setting-item-name span
{
  font-weight: 700;
  font-size: 16px;
  color: #555;
}
.setting-item-input
{
  margin-top: 5px;
  padding: 10px 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: #656565;
  background-color: #eaeaea;
}

.button-toggle
{
  position: relative;
  width: 100%;
  height: 25px;
  background-color: #142850;
  border: 5px;
  border-radius: 5px;
}
.button-toggle-toggler
{
  position: absolute;
  width: calc(50% - 4px);
  height: 21px;
  margin: 0 2px;
  top: 2px;
  left: 0; /* 50% при переходе */
  background-color: #15e67f;
  border-radius: 5px;
  transition: left 200ms ease
}
.right-toggle
{
  left: 50%;
}
.ftf
{
  width: auto !important;
  height: auto !important
}
.fixed
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnBradius
{
  border-radius: 1000px !important
}
.button-settings
{
  margin-top: 15px;
}
.button-settings-setting-name
{
  margin-top: 10px;
}
.button-settings-setting-name span
{
  color: #999;
  font-size: 14px;
  font-weight: 700;
}
.setting-range-input
{
  display: flex;
  justify-content: space-between;
}
.setting-range-input span
{
  font-size: 14px;
  font-weight: 700
}
.range-input
{
  flex: 1;
  margin-right: 15px;
}
.button-toggle-items
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 25px;
  z-index: 99;
}
.button-toggle-items-item
{
  flex: 1;
  text-align: center;
  cursor: pointer;
}
.button-toggle-items-item span
{
  color: #fff;
  font-weight: 700;
}



.btn-place
{
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
}
.btn-place-name span
{
  color: #202020;
  font-weight: 700;
  font-size: 16px;
}
.btn-place-btn
{
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.css-text
{
  position: relative;
  margin-top: 15px;
  background-color: #4c4c4c;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}
.css-text-copy
{
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px 10px;
  background-color: #15E67F;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700
}
.css-text-copy-copied
{
  position: absolute;
  opacity: 0;
  right: 15px;
  top: 60px;
  padding: 5px 10px;
  background-color: #555;
  border-radius: 5px;
  -webkit-animation: 1s hide;
  -moz-animation: 1s hide;
  -o-animation: 1s hide;
  animation: 1s hide
}
@-webkit-keyframes hide { 0%{ opacity: 0.5;top: 60px; } 50% { opacity: 1;top: 50px; } 100% { opacity: 0;top: 60px;display: none }}
@-moz-keyframes hide { 0%{ opacity: 0.5;top: 60px; } 50% { opacity: 1;top: 50px; } 100% { opacity: 0;top: 60px;display: none }}
@-o-keyframes hide { 0%{ opacity: 0.5;top: 60px; } 50% { opacity: 1;top: 50px; } 100% { opacity: 0;top: 60px;display: none }}
@keyframes hide { 0%{ opacity: 0.5;top: 60px; } 50% { opacity: 1;top: 50px; } 100% { opacity: 0;top: 60px;display: none }}
.css-text-copy:active
{
  background-color: #20b96e;
}
.css-text-import
{
  width: calc(100% - 100px);
  overflow-wrap: break-word;
}

.css-text-code
{
  margin-left: 15px;
}

.css-text span
{
  display: block;
}
.css-text-classname
{
  color: #ffb100
}
.color-picker
{
  position: relative;
  width: 50px;
  height: 25px;
}
.invalid-color
{
  -webkit-animation: errorMove .5s ease;
  -moz-animation: errorMove .5s ease;
  -o-animation: errorMove .5s ease;
  animation: errorMove .5s ease;
}
-webkit-@keyframes errorMove {
  0% {transform: translate(0px,0px);}
  20% {transform: translate(10px,0px);}
  40% {transform: translate(-10px,0px);}
  60% {transform: translate(4px,0px);}
  80% {transform: translate(-4px,0px);}
  100% {transform: translate(0px,0px);}
}
-moz-@keyframes errorMove {
  0% {transform: translate(0px,0px);}
  20% {transform: translate(10px,0px);}
  40% {transform: translate(-10px,0px);}
  60% {transform: translate(4px,0px);}
  80% {transform: translate(-4px,0px);}
  100% {transform: translate(0px,0px);}
}
-o-@keyframes errorMove {
  0% {transform: translate(0px,0px);}
  20% {transform: translate(10px,0px);}
  40% {transform: translate(-10px,0px);}
  60% {transform: translate(4px,0px);}
  80% {transform: translate(-4px,0px);}
  100% {transform: translate(0px,0px);}
}
@keyframes errorMove {
  0% {transform: translate(0px,0px);}
  20% {transform: translate(10px,0px);}
  40% {transform: translate(-10px,0px);}
  60% {transform: translate(4px,0px);}
  80% {transform: translate(-4px,0px);}
  100% {transform: translate(0px,0px);}
}
.color-picker-wrap
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.color-picker-wrap span
{
  font-weight: 700;
}
.color-picker-btn
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 25px;
  cursor: pointer;
  border-radius: 5px;
  border: solid 2px #142850;
}
.color-picker-window
{
  position: absolute;
  bottom: 115%;
  left: 0;
  width: 150px;
  background-color: #fff;
  padding: 15px;
  z-index: 99;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(221,221,221,0.5);
}
.color-picker-window input
{
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #eaeaea;
  padding: 5px 10px;
  margin-top: 15px;
}
.color-picker-colors
{
  display: flex;
  flex-wrap: wrap;
}
.color-picker-window-color
{
  flex: 1 15px;
  height: 15px;
}
.color-picker-window-color-active
{
  border: solid 3px #fff
}
.color-picker-window-color:hover
{
  border: solid 1px #fff
}


.checkbox-setting
{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox-setting-input
{

}
.checkbox-setting-name
{
  font-weight: 700;
  font-size: 14px;
  color: #999;
}

#genBtn
{
  font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-full-width
{
  width: 100% !important
}
.italic
{
  font-style: italic;
}
.bold
{
  font-weight: 700 !important
}
.uppercase
{
  text-transform: uppercase;
}
#genBtn span
{

}




#footer
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #142850;
}
.footer-text
{
  text-decoration: none;
  font-size: 18px;
  font-weight: 700
}
.footer-text a
{
  text-decoration: none;
  color: #fff;
}

@media (max-width: 575.98px) {
  .main-container-row
  {
    margin: 0
  }
}
